@using Entities

@model CompanyJob

<tr>
	<td>
		@Html.DisplayFor(_ => _.JobNumber)
	</td>
	<td>
		@Html.DisplayFor(_ => _.JobDescription)
	</td>
	<td>
		@Html.DisplayFor(_ => _.JobFunction)
	</td>
	<td>
		@Html.DisplayFor(_ => _.StartDate)
	</td>
</tr>
