@using Zoekjaar.Web.Models

@model JobModel

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()
		
	<fieldset>
		<legend>Posted Jobs</legend>
		<div class="container">
			<div class="row">
				<table class="table table-bordered posted-jobs">
					<tr>
						<th>Job Number
						</th>
						<th>Description
						</th>
						<th>Function
						</th>
						<th>Date Posted
						</th>
					</tr>
					@foreach (var job in Model.PostedJobs)
	 {
						@Html.Partial("_NewJobRow", job)
	 }
				</table>
			</div>
		</div>
	</fieldset>

	@Html.Partial("_NewJob", Model)

	<div class="container">
		<div class="row">
			<input class="btn btn-primary post-job" type="submit" value="Post now" />
		</div>
	</div>
	
}
