@using Zoekjaar.Web.Models
@using Zoekjaar.Resources

@{
	ViewBag.Title = "Company";
}

@model CompanyProfileViewModel

<div class="container">
	<div class="row-fluid">
		@using (Html.BeginForm())
  {
	  @Model.Company.Name
  }
	</div>
</div>

