@model Zoekjaar.Web.Models.UserAccountModel

@{
	ViewBag.Title = "Login as Employer";
}
<div class="container">
	<div class="row-fluid">
		@using (Html.BeginForm("EmployerLogin", "Account", FormMethod.Post, new { @class = "log-page" }))
  {
			@Html.AntiForgeryToken()
			@Html.Partial("_Login", Model)
  }
	</div>
</div>
