@using Zoekjaar.Web.Models

@model ViewJobModel
@{
	ViewBag.Title = "Job Detail";
}

<div class="container">
	<div class="row-fluid">
		<div class="span9">
			<div class="headline">
				<h3>@Html.DisplayFor(_ => _.Job.Function)</h3>
			</div>
			<div class="clients-page">
				@Html.Raw(Model.Job.Description)
			</div>
		</div>
		<div class="span3">
			@Html.Partial("_CompanyProfile", Model.Company)
		</div>
	</div>
</div>
