@using Zoekjaar.Resources

@{
	ViewBag.Title = ApplicationStrings.Contact;
}

<div class="container">
	<div class="row-fluid">
		<div class="span9">
			<div id="map" class="map map-box map-box-space margin-bottom-40" style="position: relative; background-color: rgb(229, 227, 223); overflow: hidden; -webkit-transform: translateZ(0);">
				<div style="position: absolute; left: 0px; top: 0px; overflow: hidden; width: 100%; height: 100%; z-index: 0;">
					<div style="position: absolute; left: 0px; top: 0px; overflow: hidden; width: 100%; height: 100%; z-index: 0;">
						<div style="position: absolute; left: 0px; top: 0px; z-index: 1; cursor: url(http://maps.gstatic.com/mapfiles/openhand_8_8.cur) 8 8, default; -webkit-transform-origin: 824px 157px; -webkit-transform: matrix(1, 0, 0, 1, 0, 0);">
							<div style="-webkit-transform: translateZ(0); position: absolute; left: 0px; top: 0px; z-index: 200;">
								<div style="-webkit-transform: translateZ(0); position: absolute; left: 0px; top: 0px; z-index: 101;"></div>
							</div>
							<div style="-webkit-transform: translateZ(0); position: absolute; left: 0px; top: 0px; z-index: 201;">
								<div style="-webkit-transform: translateZ(0); position: absolute; left: 0px; top: 0px; z-index: 102;">
									<div style="position: absolute; left: 0px; top: 0px; z-index: 0;">
										<div style="position: absolute; left: 0px; top: 0px; z-index: 1;">
											<div style="width: 256px; height: 256px; overflow: hidden; -webkit-transform: translateZ(0); position: absolute; left: 353px; top: -112px;"></div>
											<div style="width: 256px; height: 256px; overflow: hidden; -webkit-transform: translateZ(0); position: absolute; left: 353px; top: 144px;"></div>
											<div style="width: 256px; height: 256px; overflow: hidden; -webkit-transform: translateZ(0); position: absolute; left: 97px; top: -112px;"></div>
											<div style="width: 256px; height: 256px; overflow: hidden; -webkit-transform: translateZ(0); position: absolute; left: 97px; top: 144px;"></div>
											<div style="width: 256px; height: 256px; overflow: hidden; -webkit-transform: translateZ(0); position: absolute; left: 609px; top: -112px;">
												<canvas draggable="false" height="256" width="256" style="-webkit-user-select: none; position: absolute; left: 0px; top: 0px; height: 256px; width: 256px;"></canvas>
											</div>
											<div style="width: 256px; height: 256px; overflow: hidden; -webkit-transform: translateZ(0); position: absolute; left: 609px; top: 144px;"></div>
											<div style="width: 256px; height: 256px; overflow: hidden; -webkit-transform: translateZ(0); position: absolute; left: -159px; top: -112px;"></div>
											<div style="width: 256px; height: 256px; overflow: hidden; -webkit-transform: translateZ(0); position: absolute; left: -159px; top: 144px;"></div>
											<div style="width: 256px; height: 256px; overflow: hidden; -webkit-transform: translateZ(0); position: absolute; left: 865px; top: -112px;"></div>
											<div style="width: 256px; height: 256px; overflow: hidden; -webkit-transform: translateZ(0); position: absolute; left: 865px; top: 144px;"></div>
										</div>
									</div>
								</div>
								<div style="-webkit-transform: translateZ(0); position: absolute; left: 0px; top: 0px; z-index: 103;">
									<div style="position: absolute; left: 0px; top: 0px; z-index: -1;">
										<div style="position: absolute; left: 0px; top: 0px; z-index: 1;">
											<div style="width: 256px; height: 256px; overflow: hidden; -webkit-transform: translateZ(0); position: absolute; left: 353px; top: -112px;"></div>
											<div style="width: 256px; height: 256px; overflow: hidden; -webkit-transform: translateZ(0); position: absolute; left: 353px; top: 144px;"></div>
											<div style="width: 256px; height: 256px; overflow: hidden; -webkit-transform: translateZ(0); position: absolute; left: 97px; top: -112px;"></div>
											<div style="width: 256px; height: 256px; overflow: hidden; -webkit-transform: translateZ(0); position: absolute; left: 97px; top: 144px;"></div>
											<div style="width: 256px; height: 256px; overflow: hidden; -webkit-transform: translateZ(0); position: absolute; left: 609px; top: -112px;">
												<canvas draggable="false" height="256" width="256" style="-webkit-user-select: none; position: absolute; left: 0px; top: 0px; height: 256px; width: 256px;"></canvas>
											</div>
											<div style="width: 256px; height: 256px; overflow: hidden; -webkit-transform: translateZ(0); position: absolute; left: 609px; top: 144px;"></div>
											<div style="width: 256px; height: 256px; overflow: hidden; -webkit-transform: translateZ(0); position: absolute; left: -159px; top: -112px;"></div>
											<div style="width: 256px; height: 256px; overflow: hidden; -webkit-transform: translateZ(0); position: absolute; left: -159px; top: 144px;"></div>
											<div style="width: 256px; height: 256px; overflow: hidden; -webkit-transform: translateZ(0); position: absolute; left: 865px; top: -112px;"></div>
											<div style="width: 256px; height: 256px; overflow: hidden; -webkit-transform: translateZ(0); position: absolute; left: 865px; top: 144px;"></div>
										</div>
									</div>
								</div>
							</div>
							<div style="-webkit-transform: translateZ(0); position: absolute; left: 0px; top: 0px; z-index: 202;">
								<div style="-webkit-transform: translateZ(0); position: absolute; left: 0px; top: 0px; z-index: 104;"></div>
								<div style="-webkit-transform: translateZ(0); position: absolute; left: 0px; top: 0px; z-index: 105;"></div>
								<div style="-webkit-transform: translateZ(0); position: absolute; left: 0px; top: 0px; z-index: 106;"></div>
							</div>
							<div style="-webkit-transform: translateZ(0); position: absolute; left: 0px; top: 0px; z-index: 100;">
								<div style="position: absolute; left: 0px; top: 0px; z-index: 0;">
									<div style="position: absolute; left: 0px; top: 0px; z-index: 1;">
										<div style="width: 256px; height: 256px; -webkit-transform: translateZ(0); position: absolute; left: 353px; top: -112px;"></div>
										<div style="width: 256px; height: 256px; -webkit-transform: translateZ(0); position: absolute; left: 353px; top: 144px;"></div>
										<div style="width: 256px; height: 256px; -webkit-transform: translateZ(0); position: absolute; left: 97px; top: -112px;"></div>
										<div style="width: 256px; height: 256px; -webkit-transform: translateZ(0); position: absolute; left: 97px; top: 144px;"></div>
										<div style="width: 256px; height: 256px; -webkit-transform: translateZ(0); position: absolute; left: 609px; top: -112px;"></div>
										<div style="width: 256px; height: 256px; -webkit-transform: translateZ(0); position: absolute; left: 609px; top: 144px;"></div>
										<div style="width: 256px; height: 256px; -webkit-transform: translateZ(0); position: absolute; left: -159px; top: -112px;"></div>
										<div style="width: 256px; height: 256px; -webkit-transform: translateZ(0); position: absolute; left: -159px; top: 144px;"></div>
										<div style="width: 256px; height: 256px; -webkit-transform: translateZ(0); position: absolute; left: 865px; top: -112px;"></div>
										<div style="width: 256px; height: 256px; -webkit-transform: translateZ(0); position: absolute; left: 865px; top: 144px;"></div>
									</div>
								</div>
							</div>
							<div style="position: absolute; left: 0px; top: 0px; z-index: 0;">
								<div style="position: absolute; left: 0px; top: 0px; z-index: 1;">
									<div style="width: 256px; height: 256px; -webkit-transform: translateZ(0); position: absolute; left: 353px; top: 144px; opacity: 1; transition: opacity 200ms ease-out; -webkit-transition: opacity 200ms ease-out;">
										<img src="http://mt1.googleapis.com/vt?lyrs=m@224128066&amp;src=apiv3&amp;hl=en-US&amp;x=6439&amp;y=8789&amp;z=14&amp;s=Ga&amp;style=59,37%7Csmartmaps" draggable="false" style="width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; -webkit-transform: translateZ(0);"></div>
									<div style="width: 256px; height: 256px; -webkit-transform: translateZ(0); position: absolute; left: 97px; top: -112px; opacity: 1; transition: opacity 200ms ease-out; -webkit-transition: opacity 200ms ease-out;">
										<img src="http://mt0.googleapis.com/vt?lyrs=m@224010204&amp;src=apiv3&amp;hl=en-US&amp;x=6438&amp;y=8788&amp;z=14&amp;s=Galile&amp;style=59,37%7Csmartmaps" draggable="false" style="width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; -webkit-transform: translateZ(0);"></div>
									<div style="width: 256px; height: 256px; -webkit-transform: translateZ(0); position: absolute; left: -159px; top: -112px; opacity: 1; transition: opacity 200ms ease-out; -webkit-transition: opacity 200ms ease-out;">
										<img src="http://mt1.googleapis.com/vt?lyrs=m@224000000&amp;src=apiv3&amp;hl=en-US&amp;x=6437&amp;y=8788&amp;z=14&amp;s=Gal&amp;style=59,37%7Csmartmaps" draggable="false" style="width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; -webkit-transform: translateZ(0);"></div>
									<div style="width: 256px; height: 256px; -webkit-transform: translateZ(0); position: absolute; left: 97px; top: 144px; opacity: 1; transition: opacity 200ms ease-out; -webkit-transition: opacity 200ms ease-out;">
										<img src="http://mt0.googleapis.com/vt?lyrs=m@224145318&amp;src=apiv3&amp;hl=en-US&amp;x=6438&amp;y=8789&amp;z=14&amp;s=Galileo&amp;style=59,37%7Csmartmaps" draggable="false" style="width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; -webkit-transform: translateZ(0);"></div>
									<div style="width: 256px; height: 256px; -webkit-transform: translateZ(0); position: absolute; left: -159px; top: 144px; opacity: 1; transition: opacity 200ms ease-out; -webkit-transition: opacity 200ms ease-out;">
										<img src="http://mt1.googleapis.com/vt?lyrs=m@224145318&amp;src=apiv3&amp;hl=en-US&amp;x=6437&amp;y=8789&amp;z=14&amp;s=Gali&amp;style=59,37%7Csmartmaps" draggable="false" style="width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; -webkit-transform: translateZ(0);"></div>
									<div style="width: 256px; height: 256px; -webkit-transform: translateZ(0); position: absolute; left: 865px; top: 144px; opacity: 1; transition: opacity 200ms ease-out; -webkit-transition: opacity 200ms ease-out;">
										<img src="http://mt1.googleapis.com/vt?lyrs=m@224010258&amp;src=apiv3&amp;hl=en-US&amp;x=6441&amp;y=8789&amp;z=14&amp;s=&amp;style=59,37%7Csmartmaps" draggable="false" style="width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; -webkit-transform: translateZ(0);"></div>
									<div style="width: 256px; height: 256px; -webkit-transform: translateZ(0); position: absolute; left: 609px; top: 144px; opacity: 1; transition: opacity 200ms ease-out; -webkit-transition: opacity 200ms ease-out;">
										<img src="http://mt0.googleapis.com/vt?lyrs=m@224013259&amp;src=apiv3&amp;hl=en-US&amp;x=6440&amp;y=8789&amp;z=14&amp;s=Galil&amp;style=59,37%7Csmartmaps" draggable="false" style="width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; -webkit-transform: translateZ(0);"></div>
									<div style="width: 256px; height: 256px; -webkit-transform: translateZ(0); position: absolute; left: 865px; top: -112px; opacity: 1; transition: opacity 200ms ease-out; -webkit-transition: opacity 200ms ease-out;">
										<img src="http://mt1.googleapis.com/vt?lyrs=m@224102823&amp;src=apiv3&amp;hl=en-US&amp;x=6441&amp;y=8788&amp;z=14&amp;s=Galileo&amp;style=59,37%7Csmartmaps" draggable="false" style="width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; -webkit-transform: translateZ(0);"></div>
									<div style="width: 256px; height: 256px; -webkit-transform: translateZ(0); position: absolute; left: 609px; top: -112px; opacity: 1; transition: opacity 200ms ease-out; -webkit-transition: opacity 200ms ease-out;">
										<img src="http://mt0.googleapis.com/vt?lyrs=m@224085412&amp;src=apiv3&amp;hl=en-US&amp;x=6440&amp;y=8788&amp;z=14&amp;s=Gali&amp;style=59,37%7Csmartmaps" draggable="false" style="width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; -webkit-transform: translateZ(0);"></div>
									<div style="width: 256px; height: 256px; -webkit-transform: translateZ(0); position: absolute; left: 353px; top: -112px; opacity: 1; transition: opacity 200ms ease-out; -webkit-transition: opacity 200ms ease-out;">
										<img src="http://mt1.googleapis.com/vt?lyrs=m@224128066&amp;src=apiv3&amp;hl=en-US&amp;x=6439&amp;y=8788&amp;z=14&amp;s=G&amp;style=59,37%7Csmartmaps" draggable="false" style="width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; -webkit-transform: translateZ(0);"></div>
								</div>
							</div>
						</div>
					</div>
					<div style="margin: 2px 5px 2px 2px; z-index: 1000000; position: absolute; left: 0px; bottom: 0px;"><a target="_blank" href="http://maps.google.com/maps?ll=-13.002995,-38.511027&amp;z=14&amp;t=m&amp;hl=en-US&amp;mapclient=apiv3" title="Click to see this area on Google Maps" style="position: static; overflow: visible; float: none; display: inline;">
						<div style="width: 62px; height: 24px; cursor: pointer;">
							<img src="http://maps.gstatic.com/mapfiles/google_white.png" draggable="false" style="position: absolute; left: 0px; top: 0px; width: 62px; height: 24px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px;">
						</div>
					</a></div>
					<div class="gmnoprint" style="z-index: 1000001; position: absolute; right: 24px; bottom: 0px;">
						<div draggable="false" style="height: 19px; -webkit-user-select: none; line-height: 19px; padding-right: 2px; padding-left: 50px; background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0px, rgba(255, 255, 255, 0.498039) 50px); font-family: Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; background-position: initial initial; background-repeat: initial initial;"><a style="color: rgb(68, 68, 68); text-decoration: underline; cursor: pointer; display: none;">Map Data</a><span style="">Map data ©2013 Google, MapLink</span><span style=""> - </span><a href="http://www.google.com/intl/en-US_US/help/terms_maps.html" target="_blank" style="color: rgb(68, 68, 68); text-decoration: underline; cursor: pointer;">Terms of Use</a></div>
					</div>
					<div style="background-color: white; padding: 15px 21px; border: 1px solid rgb(171, 171, 171); font-family: Arial, sans-serif; color: rgb(34, 34, 34); -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 16px; box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 16px; z-index: 10000002; display: none; width: 256px; height: 148px; position: absolute; left: 285px; top: 35px;">
						<div style="padding: 0px 0px 10px; font-size: 16px;">Map Data</div>
						<div style="font-size: 13px;">Map data ©2013 Google, MapLink</div>
						<div style="width: 10px; height: 10px; overflow: hidden; position: absolute; opacity: 0.7; right: 12px; top: 12px; z-index: 10000; cursor: pointer;">
							<img src="http://maps.gstatic.com/mapfiles/mv/imgs8.png" draggable="false" style="position: absolute; left: -18px; top: -44px; width: 68px; height: 67px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px;">
						</div>
					</div>
					<div class="gmnoscreen" style="position: absolute; right: 0px; bottom: 0px;">
						<div style="font-family: Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); direction: ltr; text-align: right; background-color: rgb(245, 245, 245);">Map data ©2013 Google, MapLink</div>
					</div>
					<div class="gmnoprint" style="font-size: 10px; height: 17px; background-color: rgb(245, 245, 245); border: 1px solid rgb(220, 220, 220); line-height: 19px; display: none; position: absolute; right: 24px; bottom: 0px;"><a target="_new" title="Report errors in the road map or imagery to Google" href="http://maps.google.com/maps?ll=-13.002995,-38.511027&amp;z=14&amp;t=m&amp;hl=en-US&amp;mapclient=apiv3&amp;skstate=action:mps_dialog$apiref:1&amp;output=classic" style="font-family: Arial, sans-serif; font-size: 85%; font-weight: bold; bottom: 1px; padding: 1px 3px; color: rgb(68, 68, 68); text-decoration: none; position: relative;">Report a map error</a></div>
					<div class="gmnoprint" draggable="false" style="position: absolute; -webkit-user-select: none; margin-left: 5px; margin-top: 5px; width: 19px; height: 19px; right: 0px; bottom: 0px;">
						<div style="background-color: rgb(255, 255, 255); border-left-width: 1px; border-left-style: solid; border-left-color: rgb(151, 151, 151); border-top-width: 1px; border-top-style: solid; border-top-color: rgb(151, 151, 151); overflow: hidden; width: 120px; height: 120px; display: none;">
							<div style="position: absolute; left: 7px; top: 7px; border: 1px solid rgb(151, 151, 151); width: 111px; height: 111px; background-color: rgb(229, 227, 223); overflow: hidden; -webkit-transform: translateZ(0);">
								<div style="position: absolute; left: 0px; top: 0px; overflow: hidden; width: 100%; height: 100%; z-index: 0;">
									<div style="position: absolute; left: 0px; top: 0px; overflow: hidden; width: 100%; height: 100%; z-index: 0;">
										<div style="position: absolute; left: 0px; top: 0px; z-index: 1; cursor: url(http://maps.gstatic.com/mapfiles/openhand_8_8.cur) 8 8, default; -webkit-transform-origin: 0px 0px; -webkit-transform: matrix(1, 0, 0, 1, 0, 0);">
											<div style="-webkit-transform: translateZ(0); position: absolute; left: 0px; top: 0px; z-index: 200;">
												<div style="-webkit-transform: translateZ(0); position: absolute; left: 0px; top: 0px; z-index: 101;"></div>
											</div>
											<div style="-webkit-transform: translateZ(0); position: absolute; left: 0px; top: 0px; z-index: 201;">
												<div style="-webkit-transform: translateZ(0); position: absolute; left: 0px; top: 0px; z-index: 102;"></div>
												<div style="-webkit-transform: translateZ(0); position: absolute; left: 0px; top: 0px; z-index: 103;"></div>
											</div>
											<div style="-webkit-transform: translateZ(0); position: absolute; left: 0px; top: 0px; z-index: 202;">
												<div style="-webkit-transform: translateZ(0); position: absolute; left: 0px; top: 0px; z-index: 104;"></div>
												<div style="-webkit-transform: translateZ(0); position: absolute; left: 0px; top: 0px; z-index: 105;">
													<div style="border-width: 1px; border-style: solid; border-color: rgb(136, 136, 255) rgb(17, 17, 85) rgb(17, 17, 85) rgb(136, 136, 255); position: absolute; margin-top: -8px; margin-left: -27px; width: 54px; height: 16px; left: 0px; top: 0px;">
														<div style="border: 1px solid rgb(68, 68, 187); position: absolute; width: 52px; height: 14px;">
															<div style="background-color: rgb(102, 102, 204); opacity: 0.3; position: absolute; width: 52px; height: 14px; background-position: initial initial; background-repeat: initial initial;"></div>
														</div>
													</div>
													<div style="border-width: 1px; border-style: solid; border-color: rgb(136, 136, 255) rgb(17, 17, 85) rgb(17, 17, 85) rgb(136, 136, 255); position: absolute; cursor: url(http://maps.gstatic.com/mapfiles/openhand_8_8.cur) 8 8, default; margin-top: -8px; margin-left: -27px; width: 54px; height: 16px; left: 0px; top: 0px;">
														<div style="border: 1px solid rgb(68, 68, 187); position: absolute; width: 52px; height: 14px;"></div>
													</div>
												</div>
												<div style="-webkit-transform: translateZ(0); position: absolute; left: 0px; top: 0px; z-index: 106;"></div>
											</div>
											<div style="-webkit-transform: translateZ(0); position: absolute; left: 0px; top: 0px; z-index: 100;">
												<div style="position: absolute; left: 0px; top: 0px; z-index: 0;">
													<div style="position: absolute; left: 0px; top: 0px; z-index: 1;">
														<div style="width: 256px; height: 256px; -webkit-transform: translateZ(0); position: absolute; left: -117px; top: -79px;"></div>
													</div>
												</div>
											</div>
											<div style="position: absolute; z-index: 0; left: 0px; top: 0px;">
												<div style="overflow: hidden;"></div>
											</div>
											<div style="position: absolute; left: 0px; top: 0px; z-index: 0;">
												<div style="position: absolute; left: 0px; top: 0px; z-index: 1;">
													<div style="width: 256px; height: 256px; -webkit-transform: translateZ(0); position: absolute; left: -117px; top: -79px; opacity: 1; transition: opacity 200ms ease-out; -webkit-transition: opacity 200ms ease-out;">
														<img src="http://mt0.googleapis.com/vt?lyrs=m@224000000&amp;src=apiv3&amp;hl=en-US&amp;x=402&amp;y=549&amp;z=10&amp;s=Gal&amp;style=59,37%7Csmartmaps" draggable="false" style="width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; -webkit-transform: translateZ(0);"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div style="width: 19px; height: 19px; position: absolute; cursor: pointer; left: 0px; top: 0px;">
							<div title="Open the overview map" style="width: 19px; height: 19px; overflow: hidden; position: absolute;">
								<img src="http://maps.gstatic.com/mapfiles/mapcontrols3d7.png" draggable="false" style="position: absolute; left: -40px; top: -405px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; width: 59px; height: 492px;">
							</div>
						</div>
					</div>
					<div class="gmnoprint" draggable="false" controlwidth="78" controlheight="169" style="margin: 5px; -webkit-user-select: none; position: absolute; left: 0px; top: 0px;">
						<div class="gmnoprint" controlwidth="78" controlheight="80" style="cursor: url(http://maps.gstatic.com/mapfiles/openhand_8_8.cur) 8 8, default; width: 78px; height: 78px; position: absolute; left: 0px; top: 0px;">
							<div class="gmnoprint" controlwidth="78" controlheight="80" style="width: 78px; height: 78px; position: absolute; left: 0px; top: 0px;">
								<div style="visibility: hidden;">
									<svg version="1.1" overflow="hidden" width="78px" height="78px" viewBox="0 0 78 78" style="position: absolute; left: 0px; top: 0px;">
										<circle cx="39" cy="39" r="35" stroke-width="3" fill-opacity="0.2" fill="#f2f4f6" stroke="#f2f4f6"></circle><g transform="rotate(0 39 39)"><rect x="33" y="0" rx="4" ry="4" width="12" height="11" stroke="#a6a6a6" stroke-width="1" fill="#f2f4f6"></rect>
											<polyline points="36.5,8.5 36.5,2.5 41.5,8.5 41.5,2.5" stroke-linejoin="bevel" stroke-width="1.5" fill="#f2f4f6" stroke="#000"></polyline>
										</g></svg>
								</div>
							</div>
							<div class="gmnoprint" controlwidth="59" controlheight="59" style="position: absolute; left: 10px; top: 11px;">
								<div style="width: 59px; height: 59px; overflow: hidden; position: relative;">
									<img src="http://maps.gstatic.com/mapfiles/mapcontrols3d7.png" draggable="false" style="position: absolute; left: 0px; top: 0px; width: 59px; height: 492px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px;">
									<div title="Pan left" style="position: absolute; left: 0px; top: 20px; width: 19.666666666666668px; height: 19.666666666666668px; cursor: pointer;"></div>
									<div title="Pan right" style="position: absolute; left: 39px; top: 20px; width: 19.666666666666668px; height: 19.666666666666668px; cursor: pointer;"></div>
									<div title="Pan up" style="position: absolute; left: 20px; top: 0px; width: 19.666666666666668px; height: 19.666666666666668px; cursor: pointer;"></div>
									<div title="Pan down" style="position: absolute; left: 20px; top: 39px; width: 19.666666666666668px; height: 19.666666666666668px; cursor: pointer;"></div>
								</div>
							</div>
						</div>
						<div controlwidth="32" controlheight="40" style="cursor: url(http://maps.gstatic.com/mapfiles/openhand_8_8.cur) 8 8, default; position: absolute; left: 23px; top: 85px;">
							<div style="width: 32px; height: 40px; overflow: hidden; position: absolute; left: 0px; top: 0px;">
								<img src="http://maps.gstatic.com/mapfiles/cb/mod_cb_scout/cb_scout_sprite_api_003.png" draggable="false" style="position: absolute; left: -9px; top: -102px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; width: 1029px; height: 255px;">
							</div>
							<div style="width: 32px; height: 40px; overflow: hidden; position: absolute; left: 0px; top: 0px; visibility: hidden;">
								<img src="http://maps.gstatic.com/mapfiles/cb/mod_cb_scout/cb_scout_sprite_api_003.png" draggable="false" style="position: absolute; left: -107px; top: -102px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; width: 1029px; height: 255px;">
							</div>
							<div style="width: 32px; height: 40px; overflow: hidden; position: absolute; left: 0px; top: 0px; visibility: hidden;">
								<img src="http://maps.gstatic.com/mapfiles/cb/mod_cb_scout/cb_scout_sprite_api_003.png" draggable="false" style="position: absolute; left: -58px; top: -102px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; width: 1029px; height: 255px;">
							</div>
							<div style="width: 32px; height: 40px; overflow: hidden; position: absolute; left: 0px; top: 0px; visibility: hidden;">
								<img src="http://maps.gstatic.com/mapfiles/cb/mod_cb_scout/cb_scout_sprite_api_003.png" draggable="false" style="position: absolute; left: -205px; top: -102px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; width: 1029px; height: 255px;">
							</div>
						</div>
						<div class="gmnoprint" controlwidth="0" controlheight="0" style="opacity: 0.6; display: none; position: absolute;">
							<img src="http://maps.gstatic.com/mapfiles/rotate2.png" draggable="false" title="Rotate map 90 degrees" style="-webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; cursor: pointer; width: 22px; height: 22px;"></div>
						<div class="gmnoprint" controlwidth="22" controlheight="39" style="position: absolute; left: 28px; top: 130px;">
							<img src="http://maps.gstatic.com/mapfiles/szc4.png" draggable="false" style="width: 22px; height: 39px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px;">
							<div title="Zoom in" style="position: absolute; left: 0px; top: 0px; width: 22px; height: 17px; cursor: pointer;"></div>
							<div title="Zoom out" style="position: absolute; left: 0px; top: 18px; width: 22px; height: 17px; cursor: pointer;"></div>
						</div>
					</div>
					<div class="gmnoprint" style="margin: 5px; z-index: 0; position: absolute; cursor: pointer; right: 0px; top: 0px;">
						<div style="float: left;">
							<div draggable="false" title="Show street map" style="direction: ltr; overflow: hidden; text-align: center; position: relative; color: rgb(0, 0, 0); font-family: Arial, sans-serif; -webkit-user-select: none; font-size: 13px; background-color: rgb(255, 255, 255); padding: 1px 6px; border: 1px solid rgb(113, 123, 135); -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px; box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px; font-weight: bold; min-width: 29px; background-position: initial initial; background-repeat: initial initial;">Map</div>
							<div style="background-color: white; z-index: -1; padding-top: 2px; border-width: 0px 1px 1px; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-right-color: rgb(113, 123, 135); border-bottom-color: rgb(113, 123, 135); border-left-color: rgb(113, 123, 135); -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px; box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px; position: absolute; left: 0px; top: 24px; text-align: left; display: none;">
								<div draggable="false" title="Show street map with terrain" style="color: rgb(0, 0, 0); font-family: Arial, sans-serif; -webkit-user-select: none; font-size: 11px; background-color: rgb(255, 255, 255); padding: 1px 8px 3px 5px; direction: ltr; text-align: left; white-space: nowrap;"><span role="checkbox" style="box-sizing: border-box; position: relative; line-height: 0; font-size: 0px; margin: 0px 5px 0px 0px; display: inline-block; background-color: rgb(255, 255, 255); border: 1px solid rgb(198, 198, 198); border-top-left-radius: 1px; border-top-right-radius: 1px; border-bottom-right-radius: 1px; border-bottom-left-radius: 1px; width: 13px; height: 13px; -webkit-box-shadow: none; box-shadow: none; vertical-align: middle;">
									<div style="position: absolute; left: 1px; top: -2px; width: 13px; height: 11px; overflow: hidden; display: none;">
										<img src="http://maps.gstatic.com/mapfiles/mv/imgs8.png" draggable="false" style="position: absolute; left: -52px; top: -44px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; width: 68px; height: 67px;">
									</div>
								</span>
									<label style="vertical-align: middle; cursor: pointer;">Terrain</label></div>
							</div>
						</div>
						<div style="float: left;">
							<div draggable="false" title="Show satellite imagery" style="direction: ltr; overflow: hidden; text-align: center; position: relative; color: rgb(51, 51, 51); font-family: Arial, sans-serif; -webkit-user-select: none; font-size: 13px; background-color: rgb(255, 255, 255); padding: 1px 6px; border-width: 1px 1px 1px 0px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-top-color: rgb(113, 123, 135); border-right-color: rgb(113, 123, 135); border-bottom-color: rgb(113, 123, 135); -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px; box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px; font-weight: normal; min-width: 54px; background-position: initial initial; background-repeat: initial initial;">Satellite</div>
							<div style="background-color: white; z-index: -1; padding-top: 2px; border-width: 0px 1px 1px; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-right-color: rgb(113, 123, 135); border-bottom-color: rgb(113, 123, 135); border-left-color: rgb(113, 123, 135); -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px; box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px; position: absolute; right: 0px; top: 24px; text-align: left; display: none;">
								<div draggable="false" title="Zoom in to show 45 degree view" style="color: rgb(184, 184, 184); font-family: Arial, sans-serif; -webkit-user-select: none; font-size: 11px; background-color: rgb(255, 255, 255); padding: 1px 8px 3px 5px; direction: ltr; text-align: left; white-space: nowrap; display: none;"><span role="checkbox" style="box-sizing: border-box; position: relative; line-height: 0; font-size: 0px; margin: 0px 5px 0px 0px; display: inline-block; background-color: rgb(255, 255, 255); border: 1px solid rgb(241, 241, 241); border-top-left-radius: 1px; border-top-right-radius: 1px; border-bottom-right-radius: 1px; border-bottom-left-radius: 1px; width: 13px; height: 13px; -webkit-box-shadow: none; box-shadow: none; vertical-align: middle;">
									<div style="position: absolute; left: 1px; top: -2px; width: 13px; height: 11px; overflow: hidden; display: none;">
										<img src="http://maps.gstatic.com/mapfiles/mv/imgs8.png" draggable="false" style="position: absolute; left: -52px; top: -44px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; width: 68px; height: 67px;">
									</div>
								</span>
									<label style="vertical-align: middle; cursor: pointer;">45°</label></div>
								<div draggable="false" title="Show imagery with street names" style="color: rgb(0, 0, 0); font-family: Arial, sans-serif; -webkit-user-select: none; font-size: 11px; background-color: rgb(255, 255, 255); padding: 1px 8px 3px 5px; direction: ltr; text-align: left; white-space: nowrap;"><span role="checkbox" style="box-sizing: border-box; position: relative; line-height: 0; font-size: 0px; margin: 0px 5px 0px 0px; display: inline-block; background-color: rgb(255, 255, 255); border: 1px solid rgb(198, 198, 198); border-top-left-radius: 1px; border-top-right-radius: 1px; border-bottom-right-radius: 1px; border-bottom-left-radius: 1px; width: 13px; height: 13px; -webkit-box-shadow: none; box-shadow: none; vertical-align: middle;">
									<div style="position: absolute; left: 1px; top: -2px; width: 13px; height: 11px; overflow: hidden;">
										<img src="http://maps.gstatic.com/mapfiles/mv/imgs8.png" draggable="false" style="position: absolute; left: -52px; top: -44px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; width: 68px; height: 67px;">
									</div>
								</span>
									<label style="vertical-align: middle; cursor: pointer;">Labels</label></div>
							</div>
						</div>
					</div>
					<div draggable="false" style="-webkit-user-select: none; width: 111px; height: 26px; color: rgb(0, 0, 0); font-family: Arial, sans-serif; font-size: 11px; margin-bottom: 3px; position: absolute; left: 69px; bottom: 0px;">
						<div style="width: 4px; height: 26px; overflow: hidden; position: absolute; left: 0px; top: 0px;">
							<img src="http://maps.gstatic.com/mapfiles/mapcontrols3d6.png" draggable="false" style="position: absolute; left: 0px; top: -398px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; width: 59px; height: 492px;">
						</div>
						<div style="width: 107px; height: 4px; overflow: hidden; position: absolute; left: 3px; top: 11px;">
							<img src="http://maps.gstatic.com/mapfiles/mapcontrols3d6.png" draggable="false" style="position: absolute; left: 0px; top: -424px; width: 107px; height: 492px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px;">
						</div>
						<div style="position: absolute; left: 0px; top: 11px; width: 1px; height: 4px; overflow: hidden;">
							<img src="http://maps.gstatic.com/mapfiles/mapcontrols3d6.png" draggable="false" style="position: absolute; left: 0px; top: -398px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; width: 59px; height: 492px;">
						</div>
						<div class="gmnoprint" style="position: absolute; left: 0px; top: 11px; width: 1px; height: 4px; overflow: hidden; right: 0px;">
							<img src="http://maps.gstatic.com/mapfiles/mapcontrols3d6.png" draggable="false" style="position: absolute; left: 0px; top: -398px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; width: 59px; height: 492px;">
						</div>
						<div style="width: 4px; height: 12px; overflow: hidden; position: absolute; left: 107px; top: 0px;">
							<img src="http://maps.gstatic.com/mapfiles/mapcontrols3d6.png" draggable="false" style="position: absolute; left: -4px; top: -398px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; width: 59px; height: 492px;">
						</div>
						<div style="width: 4px; height: 12px; overflow: hidden; position: absolute; left: 65px; top: 14px;">
							<img src="http://maps.gstatic.com/mapfiles/mapcontrols3d6.png" draggable="false" style="position: absolute; left: -8px; top: -398px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; width: 59px; height: 492px;">
						</div>
						<div style="position: absolute; left: 8px; bottom: 15px; direction: ltr;">1 km</div>
						<div style="position: absolute; left: 8px; top: 15px; direction: ltr;">2000 ft</div>
					</div>
				</div>
			</div>
			<!---/map-->

			<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas feugiat. Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet, consectetur adipiscing elit landitiis.</p>
			<br>
			<form>
				<label>Name</label>
				<input type="text" class="span7">
				<label>Email <span class="color-red">*</span></label>
				<input type="text" class="span7">
				<label>Message</label>
				<textarea rows="8" class="span10"></textarea>
				<p>
					<button type="submit" class="btn-u">Send Message</button></p>
			</form>
		</div>
		<!--/span9-->

		<div class="span3">
			<!-- Contacts -->
			<div class="headline">
				<h3>Contacts</h3>
			</div>
			<ul class="unstyled who margin-bottom-20">
				<li><a href="#"><i class="icon-home"></i>5B Streat, City 50987 New Town US</a></li>
				<li><a href="#"><i class="icon-envelope-alt"></i>info@example.com</a></li>
				<li><a href="#"><i class="icon-phone-sign"></i>1(222) 5x86 x97x</a></li>
				<li><a href="#"><i class="icon-globe"></i>http://www.example.com</a></li>
			</ul>

			<!-- Business Hours -->
			<div class="headline">
				<h3>Business Hours</h3>
			</div>
			<ul class="unstyled">
				<li><strong>Monday-Friday:</strong> 10am to 8pm</li>
				<li><strong>Saturday:</strong> 11am to 3pm</li>
				<li><strong>Sunday:</strong> Closed</li>
			</ul>

			<!-- Why we are? -->
			<div class="headline">
				<h3>Why we are?</h3>
			</div>
			<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum.</p>
			<ul class="unstyled">
				<li><i class="icon-ok color-green"></i>Odio dignissimos ducimus</li>
				<li><i class="icon-ok color-green"></i>Blanditiis praesentium volup</li>
				<li><i class="icon-ok color-green"></i>Eos et accusamus</li>
			</ul>
		</div>
		<!--/span3-->
	</div>
	<!--/row-fluid-->
</div>
