@using Business
@using Zoekjaar.Web.Extensions
@using Core.Extensions
@using Entities
@using Core.Annotations

@model IEnumerable<JobView>
@{
	var currentRoute = new RouteValueDictionary(this.ViewContext.RouteData.Values);
}

<table class="table table-striped">
	@foreach (var job in Model)
 {
	 currentRoute["id"] = job.JobId;
	 var jobType = ((Identifiers.JobType)job.JobTypeId).GetDisplayName();

	 var badgeAttribute = ((Identifiers.JobType)job.JobTypeId).GetAttribute<BadgeAttribute>();
		<tr>
			<td>
				<span class="label @badgeAttribute.ClassName">@jobType</span>
				@Html.ActionLink(job.Title, "Details", "Job", currentRoute, new Dictionary<string, object>())
			</td>
			<td>
				@Html.DisplayFor(_ => job.DatePosted)
			</td>
		</tr>	
 }
</table>
