@using Business
@using Zoekjaar.Web.Extensions

@model JobView
@{
	var currentRoute = new RouteValueDictionary(this.ViewContext.RouteData.Values);
	currentRoute["id"] = Model.JobId;
}
<div class="who margin-bottom-30">
	<blockquote>
		<h3>@Html.ActionLink(Model.Title, "ViewJob", "Job", currentRoute, new Dictionary<string, object>())</h3>
		@Html.Raw(Model.Description)
	</blockquote>
</div>
