@using Business
@using Zoekjaar.Web.Extensions

@model IEnumerable<JobView>
@{
	var currentRoute = new RouteValueDictionary(this.ViewContext.RouteData.Values);
}

<table class="table table-striped">
	@foreach (var job in Model)
 {
	 currentRoute["id"] = job.JobId;
		<tr>
			<td>
				<span class="label">@job.JobType</span>
				@Html.ActionLink(job.Title, "ViewJob", "Job", currentRoute, new Dictionary<string, object>())
			</td>
			<td>
				@Html.DisplayFor(_ => job.DatePosted)
			</td>
		</tr>	
 }
</table>
